<!DOCTYPE html>
<html>
<head>
    <title>Daniel's API</title>
</head>
<body>
    <h1> Hello! Welcome to Daniel's API </h1>
    <h3> I hope you like it! This API is meant to use data from track times, structured as such in a CSV:
        <br>
        TIMEID,Year,Meet Date,Place,Time,Meet,Wind,Athlete,Event,Athletes,Mark,Conv,School,Category,Points.

        <br> I will then change it to several SQL tables - with athletes and the events they have run + prs in one table, 
        and then all previous races in an athlete table. this will make it easy to compare and contrast athletes. 
        for now, were just dealing with the regular csv, and I have created an app to pull the top 10 times for a given event.
        
        


    </h3>
</body>
</html>

